*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
}

.menu{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items:center;
}

.menu-item{
    margin: 5px 10px;
}

.dots-menu{
    width: 20px;
}

.dots-menu img{
    width: 100%;
}

.perfil{
    width: 50px;
    height: 50%;
}

.perfil img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#logo{
    width: 100%;
}

.main-logo{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 0;
}

#search{
    width: 100%;
}

.search-bar{
    width: 40%;
    margin: 5px auto;
    padding: 15px;
    border-radius: 10px solid #696969;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-item{
    margin: 3px;
}

#busqueda{
    width: 100%;
}

.busqueda{
    width: 100%;
    height: 30px;
    padding: 2px 10px;
    border: solid #969696;
    border-radius: 10px;
}

.busqueda:active{
    border: none;
}

#botones{
    width: 100%;
}

.botones{
    width: 320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn{
    padding: 10px;
    background-color: #b4b4b4;
    border-radius: 10px;
    margin: 0 10px;
    font-size: 13px;
}
